@model Pacote
@{
    ViewData["Title"] = "Alterar Pacote";
    Pacote pacote = (Pacote) ViewData["PacoteAlterado"];
    List<Pacote> lista = new List<Pacote>();
    List<string> nomes = new List<string>();
    foreach (Pacote pct in lista)
    {
        nomes.Add(pct.Nome);
    }
}

<h2>Alterar pacote</h2>
<p>@ViewBag.feedbackalt
</p>
<form method="GET">
    <p>
        <label asp-for="IdPacote">Digite o id do pacote a ser alterado: </label>
        <input asp-for="IdPacote" />
        <input type="submit" value="Buscar" />
    </p>
</form>

@if(ViewData["PacoteAlterado"] != null){
    <form method="POST">
       <p>
        <label asp-for="Nome">Nome do Pacote: </label>
        <input asp-for="Nome" value="@pacote.Nome"/>
    </p>
    <p>
        <label asp-for="Origem">Origem do Pacote: </label>
        <input asp-for="Origem" value="@pacote.Origem"/>
    </p>
    <p>
        <label asp-for="Destino">Destino do Pacote: </label>
        <input asp-for="Destino" value="@pacote.Destino"/>
    </p>
    <p>
        <label asp-for="Atrativos">Atrativos do Pacote: </label>
        <input asp-for="Atrativos" value="@pacote.Atrativos"/>
    </p>
    <p>
        <label asp-for="Saida">Data de Saída:</label>
        <input asp-for="Saida" type="text" value='@pacote.Saida.ToString("dd/MM/yyyy")' placeholder="MM/DD/YYYY"/>
    </p>
    <p>
        <label asp-for="Retorno">Data de Retorno:</label>
        <input asp-for="Retorno" type="text" value='@pacote.Retorno.ToString("dd/MM/yyyy")' placeholder="MM/DD/YYYY"/>
    </p>
    <p>Id do criador: @pacote.IdCriador</p>
    <p>
        <input type="submit" value="Atualizar"/>
    </p>
    </form>
}