@model Pacote
@{
    ViewData["Title"] = "Alterar Pacote";
}

<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Alteração de Pacote</h1>
    <h1 class="h6 mb-3 font-weight-normal">@ViewBag.feedbackalt</h1>
</div>

<form method="GET">
    <div class="form-group form-inline">
        <label asp-for="IdPacote" class="mr-2">Digite o id do pacote a ser alterado: </label>
        <input asp-for="IdPacote" class="form-control mr-1"/>
        <input type="submit" value="Buscar" class="btn btn-primary"/>
    </div>
</form>


@if (ViewData["PacoteAlterado"] != null)
{
    Pacote pacote = (Pacote) ViewData["PacoteAlterado"];
    <form method="POST">

        <div class="form-group">
            <label asp-for="Nome">Nome do Pacote: </label>
            <input asp-for="Nome" value="@pacote.Nome" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Origem">Origem do Pacote: </label>
            <input asp-for="Origem" value="@pacote.Origem" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Destino">Destino do Pacote: </label>
            <input asp-for="Destino" value="@pacote.Destino" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Atrativos">Atrativos do Pacote: </label>
            <input asp-for="Atrativos" value="@pacote.Atrativos" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Saida">Data de Saída:</label>
            <input asp-for="Saida" type="text" value='@pacote.Saida.ToString("dd/MM/yyyy")' placeholder="MM/DD/YYYY" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Retorno">Data de Retorno:</label>
            <input asp-for="Retorno" type="text" value='@pacote.Retorno.ToString("dd/MM/yyyy")' placeholder="MM/DD/YYYY" class="form-control"/>
        </div>
        <p>Id do criador: @pacote.IdCriador</p>
        <div class="form-group">
            <input type="submit" value="Atualizar" class="btn btn-primary"/>
        </div>
    </form>
}