@model Usuario
@{
    ViewData["Title"] = "Alterar Cadastro";
}

<div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Alterar cadastro</h1>
    <h1 class="h6 mb-3 font-weight-normal">@ViewBag.mensagema</h1>
</div>
<form method="GET">
    <div class="form-group form-inline">
        <label asp-for="Id" class="mr-2">Id do Usuario a ser modificado: </label>
        <input asp-for="Id" type="number" class="form-control mr-1"/>
        <input type="submit" value="Buscar" class="btn btn-primary"/>
    </div>
</form>


@if(ViewData["Alterado"] != null){
    Usuario user = (Usuario) ViewData["Alterado"];
    <form method="POST">  
        <div class="form-group">
            <label asp-for="Login">Login:</label>
            <input asp-for="Login" value="@user.Login" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Senha">Senha:</label>
            <input asp-for="Senha" value="@user.Senha" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input asp-for="Nome" value="@user.Nome" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Nascimento">Data de nascimento:</label>
            <input asp-for="Nascimento" type="text" value="@user.Nascimento.ToString("dd/MM/yyyy");" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="Tipo">Tipo:</label>
            <select asp-for="Tipo" class="form-control">
                @if (user.Tipo == 0)
                {
                    <option value=0 selected>Administrador</option>
                    <option value=1>Colaborador</option>
                } else if (user.Tipo == 1){
                    <option value=0>Administrador</option>
                    <option value=1 selected>Colaborador</option>
                } else {
                    <option value=0>Administrador</option>
                    <option value=1>Colaborador</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="submit" value="Cadastrar" class="btn btn-primary"/>
        </div>
    </form>
}